#landing-page-body {
  width: 70%;
  margin: 0 auto 8vh auto;
}

#text-center {
  text-align: center;
}

#our-commitments {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.commitment-item {
  margin: 8px 10px 10px 8px;
  padding: 20px;
  flex: 1;
  font-size: clamp(12px, 16px, 20px);
  border: 2px solid #1ab99c;
  border-width: 10px;
  background-color: #dadada88;
  font-weight: 500;
}

#get-started-box {
  margin: 0 auto;
  border: 1px solid #1ab99c;
  border-width: 0.4vh;
  padding: 0 2vh 2vh 2vh;
  text-align: center;
  border-radius: 6px;
  width: 100%;
}

#user-functionality {
  margin: 0 auto;
}

.gs-btn {
  margin: 1vh 3vh 1vh 3vh;
  width: 35%;
}

@media all and (min-width: 750px) {
  #our-commitments {
    width: 100%;
    flex-direction: row;
  }
  .commitment-item {
    margin: 8px 10px 10px 8px;
  }

  #get-started-box {
    border-width: 0.4vh;
    padding: 0 2vh 2vh 2vh;
    width: 96%;
  }

  .gs-btn {
    width: 30%;
  }
}
