table, th, td {
  border: 1px solid black;
  margin: 0 auto;
}

table {
  width: 100%;
  margin-bottom: 8vh;
}

.order-attribute-id{
  text-align: center;
}

.order-attribute-pn {
  text-align: center;
}

.order-attribute-location {
  text-align: center;
}

.order-attribute {
}
