#home-body {
  margin: 0 auto 8vh auto;
  width: min(1400px, calc(60% + 68px));

}

#location {
  font-size: clamp(14px, 18px, 22px);
  text-align: center;
}

#location-input {
  margin: 2vh auto;
  height: 3vh;
  width: 60%;
  font-size: clamp(1.1rem, 2vw, 2.2rem);
  border-radius: 12px;
  border-width: 0.1px;
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5vh 0;
  justify-content: space-evenly;
}

.checkbox-btn {
  width: 2.5vh;
  margin: 0 0;
  width: 30%;
}

.item-text {
  width: 40%;
  font-size: clamp(14px, 18px, 22px);
  flex-grow: 2;
}

.item-label {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-label {
  display: none;
  font-size: clamp(.8rem, 1.8vw, 2rem);
}

.quantity {
  width: 7vh;
  height: 3.2vh;
  font-size: clamp(1.3rem, 2.2vw, 2.5rem);
  margin: 0;
  text-align: center;
}

#wishlist-sbt-btn {
  margin-top: 3vh;
  width: 45%;
  height: 5vh;
  font-size: clamp(1.3rem, 2.2vw, 2.5rem);
}

@media all and (min-width: 600px) {
}
