#home-body {
  margin: 0 auto 8vh auto;
  width: 97%;
}

#location-input {
  margin: 2vh auto;
  height: 2.5vh;
  width: 60%;
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5vh 0;
  justify-content: space-evenly;
}

.checkbox-btn {
  width: 2.5vh;
  margin: 0 0;
}

.item-text {
  width: 35%;
}

.quantity {
  width: 6vh;
  height: 2.5vh;
  font-size: 1.8vh;
  margin: 0 0 0 0;
  text-align: center;
}

#wishlist-sbt-btn {
  margin-top: 3vh;
  width: 50%;
  height: 5vh;
  font-size: clamp(1.3rem, 2.2vw, 2.5rem); 
}

@media all and (min-width: 600px) {



}