.register-login-body {
  width: 85%;
  margin: 0 auto;
}

#demo {
  text-align: center;
  margin-bottom: 2vh;
}

#demo-creds {
  display: flex;
  margin: 0 auto 3vh auto;
  font-size: clamp(.8rem, 1.2vw, 1.5rem);
  text-align: left;
  width: 95%;
}

.demo-creds-individual {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.PhoneInput {
  margin: 0 auto 0 auto;
  width: 90%;
}

.PhoneInputCountry {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 0;
  height: 1.5vh;
}

.PhoneInputCountrySelect {
  visibility: hidden;
  margin: 0 0 0 0;
}

.PhoneInputCountryIconImg {
  visibility: hidden;
  margin: 0 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
}

.PhoneInputInput {
  width: 99%;
  height: 3vh;
  font-size: 25px;
  
}

#password-label{
  margin-top: .5vh;
  margin-bottom: .5vh;
}

input {
  width: 90%;
  height: 3vh;
  font-size: 25px;
  border-radius: 12px;
  border-width: .1px;
  margin: 0 auto;
  background: linear-gradient(
    to right bottom,
    #24fcd452,
    #21ffd632
);
}

button {
  margin: 2vh auto 0 auto;
  width: 40%;
  height: 5vh;
  font-size: clamp(1.3rem, 2.2vw, 2.5rem); 
  border-radius: 14px;
  border: 2px solid #1ab99c;
  border-width: .4vh;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #12806b;
}

#already-have-account {
  text-align: center;
  margin: 3vh 0 0 0;
}

@media all and (min-width: 1000px) {

  .register-login-body {
    width: 30%;
  }  

  #demo-creds {
    width: 60%;
  }

  button {
    border: 2px solid #1ab99c;
    border-width: .35vh;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer
  }

  #password-label{
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
}
