.page-body-resources {
  width: min(1600px, calc(80% + 68px));
  font-size: clamp(1.3rem, 2.1vw, 2.3rem); 
  margin: 0 auto;
  margin-bottom: 10vh;
}

.resource-sections {
  word-wrap: break-word;
}

