h2 {
  padding: 0 0 0 2vh;
  color: #10d8b3;
}

.page-body {
  margin: 0 auto;
  width: min(2000px, calc(80% + 68px));
}

a {
  color: #0e7c68;
}

a:visited {
  color: #0e7c68;
}

@media all and (min-width: 1000px) {

  h2 {
    padding: 0 0 0 18vh;
  }
}
