h2 {
  padding: 0 2vh;
  color: #12806b;
  font-weight: 500;
}

.page-body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: #0e7c68;
  margin: 3vh;
  line-height: 3vh;
  text-decoration: none;
}

a:visited {
  color: #0e7c68;
}

a:hover {
  text-decoration: underline;
}

@media all and (min-width: 1000px) {
  h2 {
    padding: 0 18vh;
  }
}